* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
}

#board {
    border: 1px solid;
    width: 500px;
    height: 500px;
}
#control-panel {
    border: 1px solid;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#control-panel > div {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px
}

#message-display {
    height: 50px;
}
#player-dashboard {
    border: 1px solid;
    height: 600px;
    width: 300px;
}
.board-squares {

}
.property-cards {

}

button {
    width: 100px;
    height: 25px;
}
.group-divs {
    border: 1px solid;
}
.group-headers {
}
li {
    margin-left: 25px;
}